bin
/ConsoleApp3/ConsoleApp3/obj
/ConsoleApp3/UnitTestProject1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ConsoleApp3/UnitTestProject1/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ConsoleApp3/UnitTestProject1/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ConsoleApp3/UnitTestProject1/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ConsoleApp3/UnitTestProject1/obj/Debug/UnitTestProject1.csproj.CopyComplete
/ConsoleApp3/UnitTestProject1/obj/Debug/UnitTestProject1.csproj.CoreCompileInputs.cache
/ConsoleApp3/UnitTestProject1/obj/Debug/UnitTestProject1.csproj.FileListAbsolute.txt
/ConsoleApp3/UnitTestProject1/obj/Debug/UnitTestProject1.csprojAssemblyReference.cache
/ConsoleApp3/UnitTestProject1/obj/Debug/UnitTestProject1.dll
/ConsoleApp3/UnitTestProject1/obj/Debug/UnitTestProject1.pdb
.vs
